@import url('https://fonts.googleapis.com/css2?family=Font+Name&display=swap');

:root {
    --primary-color: #396e94;
    --secondary-color: #e7c24f;
    --accent1-color: #a43312;
    --accent2-color: #381d2a;
    --header-font: 'Font Name', sans-serif;
    --paragraph-font: sans-serif;
    --nav-bg-color: #aabdbc;
    --nav-link-color: #ffffff;
    --nav-link-hover-color: #e7c24f;
    --nav-link-focus-bg-color: #a43312;
}

body {
    font-family: var(--paragraph-font);
    max-width: 960px;
    padding: 20px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: var(--header-font);
    color: var(--primary-color);
}

header {
    padding: 10px;
    background-color: var(--secondary-color);
}

p {
    padding: 5px;
}

nav {
    background-color: var(--nav-bg-color);
}

nav a {
    color: var(--nav-link-color);
    text-decoration: none;
    padding: 5px;
}

nav a:hover {
    color: var(--nav-link-hover-color);
}

nav a:focus {
    background-color: var(--nav-link-focus-bg-color);
}
