* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    max-width: 840px;
    margin: 0 auto; /* Center the container horizontally */
}

header, footer {
    background-color: #665f5f;
    color: #ffffff;
    padding: 1rem;
    text-align: center; /* Center text in header and footer */
}

main {
    background-color: #eeeeee;
    padding: 1rem;
}

.grid {
    display: grid; /* Use CSS Grid for layout */
    grid-template-columns: repeat(2, 1fr); /* Two columns with equal width */
    gap: 1rem;
}

.box {
    background-color: #fa9292;
    padding: 1rem;
}

aside h1 {
    font-size: 2rem;
    margin-bottom: 1rem; /* Add margin below h1 for spacing */
    border-bottom: 2px solid black; /* Add bottom border to h1 */
}

nav.container {
    display: flex; /* Use Flexbox for navigation */
    justify-content: space-between; /* Evenly distribute items */
    align-items: center; /* Align items vertically */
    padding: 1rem;
}

nav.container a {
    display: inline-block;
    padding: 0.5rem;
    text-decoration: none;
    color: white;
}

nav.container a:hover {
    background-color: #555555; /* Change background color on hover */
}
nav.container a:active {
    background-color: #333333; /* Change background color on active */
}

img {
    max-width: 100%;
    height: auto;
    margin-bottom: 1rem; /* Add margin below images for spacing */
}
